*{
    
    box-sizing: border-box;
}
body{
    background-color: darkslategrey;
    color: cornsilk;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    
}
i{
    font-size: 30px;
}
h1{
    color:cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table{
    margin-left: 0px;
    border-spacing: 0px;
    border: ridge rgb(225, 111, 59) 5px;
    box-sizing: content-box;
}
th{
    height: 50px;
    width: 50px;
}
.odd{
    background-color: rgb(46, 134, 46);
   
}
.even{
    background-color: rgba(255, 205, 43, 0.777);
  
}
#col{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 400px;
    gap: 6px;

}
.col{
    display: flex;
    flex-wrap: wrap;
    background: radial-gradient(circle, rgba(255, 160, 59, 0.777), rgba(255, 104, 34, 0.777));
    height: 80px;
    width: 200px;
    border-spacing: 4px;
    border: ridge rgb(134, 225, 59) 5px;
    
}
#bl{
    flex-direction: row-reverse;
}
